{% extends 'todoapp/base.html' %}
{% block title %}Home{% endblock %}

{% block main %}
    <main>
        {% if request.user.is_authenticated %}
        <form method="post"> {% csrf_token %}
            {{ form.title }}
            <button type="submit">add</button>
        </form>
        <ul>
            {% for task in tasks %}
                <li>
                    {{ task.title }}
                    <a href="{% url 'task-detail' task.id %}"><button>detail</button></a>
                    <a href="{% url 'task-edit' task.id %}"><button>edit</button></a>
                    <form action="{% url 'task-delete' task.id %}" method="post">{% csrf_token %}<button type="submit">delete</button></form>
                </li>
            {% empty %}
                <p>You have no tasks.</p>
            {% endfor %}
        </ul>
        {% else %}
            <h1>Please log in.</h1>
        {% endif %}
    </main>
{% endblock %}