{% extends 'todoapp/base.html' %}
{% block title %}Task List{% endblock %}

{% block content %}

<!-- header  -->
<div class="d-flex justify-content-between align-items-center mb-4 pb-4 border-bottom">
    <div class="ms-3">
        <h4 class="text-uppercase fw-weight-bold mb-0">Welcome {{ request.user }}</h4>
        <p class="text-gray fst-italic mb-0">This is your to-do list</p>
    </div>
    <div class="ms-3">
        <a href="{% url 'logout' %}"><button class="btn btn-primary">Logout</button></a>
    </div>
</div>

<!-- create task -->
<div class="justify-content-center align-items-center mb-4 pb-4 border-bottom">
    <div class="ms-3">
        <form class="form-group" method="post"> {% csrf_token %}
            <div class="input-group">
                <input class="form-control" type="{{form.title.type}}" name="{{form.title.name}}" id="{{form.title.id}}" placeholder="Your task">
                <div class="input-group-btn">
                    <button class="btn btn-outline-secondary" type="submit">Add</button>
                </div>
            </div>
            <div class="my-3">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </form>
    </div>
</div>

<!-- task list -->
{% for task in tasks %}
<div class="d-flex justify-content-between align-items-center mb-2 pb-2">
    <div class="ms-3">
        {% if task.is_complete %}
            <s class="fst-italic pl-1">{{ task.title }}</s>
        {% else %}
            <a href="{% url 'task-detail' task.id %}" class="fst-italic pl-1">{{ task.title }}</a>
        {% endif %}
    </div>
    <div class="ms-3">
        <form method="post" action="{% url 'task-delete' task.id %}"> {% csrf_token %}
            <div class="btn-group">
                <a href="{% url 'task-edit' task.id %}"><button type="button" class="btn btn-outline-secondary">Edit</button></a>
                <button type="submit" class="btn btn-danger">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </form>
    </div>
</div>
{% empty %}
        <span class="fst-italic pl-1">You have no tasks.</span>
{% endfor %}

{% endblock %}