{% extends 'todoapp/base.html' %}
{% block title %}Register{% endblock %}

{% block content %}

<!-- header -->
<div class="d-flex justify-content-between align-items-center mb-4 pb-4 border-bottom">
    <div class="ms-3">
        <h4 class="text-uppercase fw-weight-bold mb-0">Sign in</h4>
    </div>
</div>

<!-- register form -->
<div class="justify-content-center align-items-center mb-4 pb-4 px-2 border-bottom">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="{{ form.username.id_for_label }}">Username</label>
            <input class="form-control" type="{{form.username.type}}" name="{{form.username.name}}" id="{{form.username.id}}">
        </div>
        <div class="mb-3">
            <label class="form-label" for="{{ form.password1.id_for_label }}">Password</label>
            <input class="form-control" type="password" name="{{form.password1.name}}" id="{{form.password1.id}}">
        </div>
        <div class="mb-3">
            <label class="form-label" for="{{ form.password2.id_for_label }}">Confirm password</label>
            <input class="form-control" type="password" name="{{form.password2.name}}" id="{{form.password2.id}}">
        </div>
        <button type="submit" class="btn btn-primary my-1">Register</button>
        <div class="my-3">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </form>
</div>

<!-- footer -->
<div class="px-3">
    <p>Already have an account? - <a href="{% url 'login' %}">Log in</a>!</p>
</div>

{% endblock %}
