{% extends 'todoapp/base.html' %}
{% block title %}Task - {{task.id}}{% endblock %}

{% block content %}

<!-- header -->
<div class="d-flex justify-content-between align-items-center mb-4 pb-4 border-bottom">
    <div class="ms-3">
        <h4 class="text-uppercase fw-weight-bold mb-0">Welcome {{ request.user }}</h4>
        <p class="text-gray fst-italic mb-0">Task detail</p>
    </div>
    <div class="ms-3">
        <a href="{% url 'home' %}"><button class="btn btn-primary">Back</button></a>
        <a href="{% url 'logout' %}"><button class="btn btn-primary">Logout</button></a>
    </div>
</div>

<!-- task detail -->
<div class="px-4">
    <h1 class="mb-0">{{ task.title }}</h1>
    <p class="text-gray fst-italic mb-4">created: {{ task.pub_date }}</p>
    <p>Completed: {{task.is_complete}}</p>
</div>

{% endblock %}