{% extends 'todoapp/base.html' %}
{% block title %}Task edit{% endblock %}


{% block content %}

<!-- header -->
<div class="d-flex justify-content-between align-items-center mb-4 pb-4 border-bottom">
    <div class="ms-3">
        <h4 class="text-uppercase fw-weight-bold mb-0">Welcome {{ request.user }}</h4>
        <p class="text-gray fst-italic mb-0">Edit your task</p>
    </div>
    <div class="ms-3">
        <a href="{% url 'home' %}"><button class="btn btn-primary">Back</button></a>
        <a href="{% url 'logout' %}"><button class="btn btn-primary">Logout</button></a>
    </div>
</div>

<!-- edit task form -->
<div class="justify-content-center align-items-center mb-4 pb-4 px-2">
    <div class="ms-3">
        <form method="post"> {% csrf_token %}
            <div class="mb-3">
                {% if form.is_complete.value %}
                    <input class="form-check-input" type="checkbox" name="{{ form.is_complete.name }}" id="{{ form.is_complete.id }}" checked>
                {% else %}
                    <input class="form-check-input" type="checkbox" name="{{ form.is_complete.name }}" id="{{ form.is_complete.id }}">
                {% endif %}
                <label class="mx-2" for="{{form.is_complete.id_for_label}}">Completed</label>
            </div>
            <div class="mb-3 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Title</span>
                </div>
                <input class="form-control" type="{{ form.title.type }}" name="{{ form.title.name }}" id="{{ form.title.id }}" value="{{ form.title.value }}">
                <div class="input-group-btn">
                    <button class="btn btn-outline-secondary" type="submit">Edit</button>
                </div>
            </div>
            <div class="my-3">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </form>
    </div>
</div>

{% endblock %}