body {
    font-family: Lato;
    font-weight: 400;
}

.holder {
    min-height: 100vh;
    background: linear-gradient(to bottom right, #2f3fcc, #e45146);
}

.rounded {
    border-radius: 1rem !important;
}

.text-gray {
    color: #aaa;
}

a {
    text-decoration: none;
}